/* If the image cannot be shown make a point of displying the ALT in red */
img { color: red; font-family: monospace; max-width: 100%; }

/* Various small styles */
i.tag { background-color: #F8F8F8; border: 1px solid #DDD; border-radius: 10px; color: #DDD; display: inline-block; font-style: normal; height: 20px; line-height: 20px; padding: 0px 10px; margin: 1px 1px 0px 5px; white-space: pre; }
i.tag:hover { background-color: #DDD; color: white; }
i.tag a { color: inherit; text-decoration: none; }
span.sub { color: #BBB; }
table { border-collapse: collapse; font-size: 90%; }
td { padding: 5px 10px; }

header { background-image: url(../images/subtle.png);  background-color: #DDD; }
header h1 { color: #2c2c2c; font-family: "Josefin Slab", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; margin-bottom: 5px; padding-top: 10px; text-shadow: 2px 2px 0px #d5d5d5, 4px 4px 0px rgba(0, 0, 0, 0.2); }
header img { display: none; }

footer { background-color: #3E5062; box-shadow: 0 -2px 2px 0px #BBB; color: white; font-size: 12px; padding: 20px; }

nav { background-color: #1EAEDB; box-shadow: 0 2px 2px 0px #BBB; color: white; padding: 10px; position: sticky; position: -webkit-sticky; margin: 0px; opacity: 0.90; top: 0px; transition: opacity 1s; z-index: 100; }
nav:hover { opacity: 1.00; }
nav img { position: absolute; right: 10px; width: 25px; vertical-align: middle; }
nav a { color: inherit; text-decoration: none; margin-right: 20px; }
nav a:hover { color: #EEE; }

div.cover { display: none; }
div.cover img { width: 100%; }

main { display: block; margin-bottom: 50px !important; margin-top: 20px !important; }

div.meta { color: #AAA; display: block; font-size: 80%; margin-bottom: 30px; margin-top: 20px; }
div.meta title { color: #000; }
div.meta span { margin-right: 25px; }
div.meta span:hover { color: #777; }
div.meta span i.fa { margin-right: 5px; }

aside { background-color: rgba(255,255,255,0.75); outline: 0px solid #BBB; padding: 5px; text-align: right; }
aside img.avatar { border-radius: 50px; }
aside h4 { color: #3D5063; margin-top: 20px; margin-bottom: 5px; }

div.comments { background-color: #FAFAFA; padding: 25px 0px; }

/* Alerts (from https://github.com/gld1982ltd/skeleton-alerts) */
.alert { display: block; padding: 20px; border-left: 5px solid; }
.alert.success { background-color: #D5F5E3; border-left-color: #2ECC71; color: #2ECC71; }
.alert.info { background-color: #D6EAF8; border-left-color: #3498DB; color: #3498DB; }
.alert.warning { background-color: #FCF3CF; border-left-color: #F1C40F; color: #F1C40F; }
.alert.error { background-color: #F2D7D5; border-left-color: #C0392B; color: #C0392B; }
